* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    padding: 40px 40px;
    
  }
  .normal{
    font-weight: normal;
  }
  .info{
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    height: auto;
    padding:110px 80px 100px 80px;  
  }
  .fio{
    display: flex;
    height: 200px;
    width: auto;
    background: linear-gradient(to right,rgb(4, 241, 4),rgb(2, 48, 2));
    color: black; 
    justify-content: left;
    padding: 80px 0 80px 30px; 
  }
  .back{
    display:flex;
    width: auto;
    height: 1080px;
    background-image: url(image.jpg);
    background-size: cover;
  }
  .links{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: auto;
    background: linear-gradient(to right,rgb(4, 241, 4),rgb(2, 48, 2));
  }
  .project_link{
    display: flex;
    color: black; 
    display: inline-block;
    justify-content: left;
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    }
  .footer{
    display: flex;
    height: 200px;
    width: auto;
    background: linear-gradient(to right,rgb(4, 241, 4),rgb(2, 48, 2));
    color: black; 
    justify-content: space-between;
    padding: 50px 0 40px 30px; 
  }
  .logo{
    height: 100px;
    width: 100px;
  }
  .logo_text{
    display: flex;
    justify-content: flex-end;
  }