* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.page {
    display: flex;
    flex-wrap: wrap;
  }
.header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    background-color: blue;
    padding-left: 20px;
    color: white;
    font-size: 30px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    width: 100%;
    justify-content: center;
    background-color: white;
    gap: 100px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border: 5px black solid;
}
.footer{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding-left: 20px;
    color: white;
    font-size: 30px;
}
a:link {
    color: white;
    text-decoration: none;
  }
.back{
    display: none;
    color: white;
    font-size: 30px;
    margin-right: 30px;
}

@media only screen and (min-width: 961px) {
    .content{
        flex-direction: row;
        height: 961px;
        }
    .item{
        width: 30%;
    }
    .back{
        display: block  
    }
}