* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.back{
    background-color: rgb(81, 81, 209);
    height: 201px;
}
.back>h1{
    margin-left: 35%;
    color: orange;
    font-size: 50px;
}
.header{
    display: flex;
    flex-direction: row;
    height: 90px;
    background-color: pink;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 23px;
    font-weight:bold;
}
.footer{
    display: flex;
    flex-direction: row;
    height: 90px;
    background-color: pink;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 23px;
    font-weight:bold;
    color: white;
}
.link{
    margin-right: 50px;
}
ul{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    list-style-type: none;
}
.hero{
    display: flex;
    background-image: url("background.png");
    height: 643px;
}
.box{
    display: flex;
    margin-top: 90px;
    margin-left: 90px;
    flex-direction: column;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border: 2px white solid;
    color: white;
    border-radius: 5%;
}
.form-row {
    margin-bottom: 40px;
    display: flex;
    background-color: pink;
    padding: 30px;
    border: 2px white solid;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5%;
  }
  
  .form-row input[type='text'],
  .form-row input[type="email"] {
    background-color: #ffffff;
    border: 1px solid #29fd2f;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .form-row label {
    margin: 10px;
  }